---
layout: default
---

<section class="wrapper">
  <h2 style="display: none;">Posts</h2>
  {% for post in paginator.posts %}
		<a class="post-home__wrapper" href="{{ site.baseurl }}{{ post.url }}">
      <article class="card post-home">
					<h3 class="post-home__date" itemprop="datePublished">{{ post.date | date: "%d %B %y" }}</h3>
          <h2 class="post-home__title" itemprop="headline">{{ post.title | xml_escape }}</h2>
          <p class="post-home__excerpt">
						{% if post.custom_excerpt %}
							{{ post.custom_excerpt }}
						{% else %}
							{{ post.excerpt | strip_html | strip_newlines | truncatewords: post.excerpt_words }}
						{% endif %}
					</p>
          <!-- {% for tag in post.tags %}
            <h3 class="post-home__category">#{{ tag | downcase }}</h3>
          {% endfor %} -->
      </article>
		</a>
  {% endfor %}
</section>
