<footer>
	<ul>
		<li class="footer__item"><a href="https://twitter.com/mxstbr" onclick="ga('send', 'event', 'social', 'click', 'twitter');">twitter</a></li>
		<li class="footer__item"><a href="https://github.com/mxstbr" onclick="ga('send', 'event', 'social', 'click', 'github');">github</a></li>
		<li class="footer__item"><a href="mailto:contact@mxstbr.com" onclick="ga('send', 'event', 'social', 'click', 'mail');">mail</a></li>
		<li class="footer__item"><a href="/feed.atom" onclick="ga('send', 'event', 'social', 'click', 'rss');">rss</a></li>
	</ul>
</footer>



<link rel="stylesheet" type="text/css" href="/css/main.css">
<script type="text/javascript" src="{{ site.baseurl }}/scripts/main.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro:400,700|Source+Serif+Pro:400,700' rel='stylesheet' type='text/css'>
<script async src='//www.google-analytics.com/analytics.js'></script>
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-49258834-8', 'auto');
ga('send', 'pageview');
</script>
