<footer>
	<ul>
		<li class="footer__item"><a href="https://twitter.com/mxstbr" onclick="OWATracker.trackAction('social', 'click', 'twitter');">twitter</a></li>
		<li class="footer__item"><a href="https://github.com/mxstbr" onclick="OWATracker.trackAction('social', 'click', 'github');">github</a></li>
		<li class="footer__item"><a href="mailto:contact@mxstbr.com" onclick="OWATracker.trackAction('social', 'click', 'mail');">mail</a></li>
		<li class="footer__item"><a href="/feed.atom" onclick="OWATracker.trackAction('social', 'click', 'rss');">rss</a></li>
	</ul>
</footer>

<script type="text/javascript" src="{{ site.baseurl }}/scripts/main.js"></script>