<footer>
	<ul>
		<li class="footer__item"><a href="https://twitter.com/mxstbr">Twitter</a></li>
		<li class="footer__item"><a href="https://github.com/mxstbr">Github</a></li>
		<li class="footer__item"><a href="mailto:contact@mxstbr.com">Mail</a></li>
	</ul>
</footer>

<script type="text/javascript" src="{{ site.baseurl }}/scripts/jquery-1.11.3.min.js" data-no-instant></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/main.js" data-no-instant></script>
<!-- <script type="text/javascript" src="{{ site.baseurl }}/scripts/instantclick.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script> -->
