<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	{% comment %}
		Title/Description
	{% endcomment %}
  <title>{% if page.title %}{{ page.title }} - {{ site.url-title }}{% else %}{{ site.url-title }} - {{ site.description }}{% endif %}</title>
  <meta name="description" content="{% if page.custom_excerpt %}{{ page.custom_excerpt | strip_html | strip_newlines }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}
  <meta content="{% if page.custom_excerpt %}{{ page.custom_excerpt | strip_html | strip_newlines }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" property="og:description">
  {% if page.url %}
    <meta content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="http://mxstbr.com" property="article:author">
  {% endif %}
	{% comment %}
		Open Graph
	{% endcomment %}
  {% if page.image %}
    <meta content="{{ site.url }}/img/{{ page.image }}" property="og:image">
  {% else %}
    <meta content="{{ site.url }}/social_media.png" property="og:image">
  {% endif %}
  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}
	{% comment %} Twitter {% endcomment %}
	<meta name="twitter:card" content="{% if page.twitter_large %}summary_large_image{% else %}summary{% endif %}">
	<meta name="twitter:site" content="@mxstbr">

	<link rel="alternate" type="application/atom+xml" title="{{ site.name }} — Feed" href="{{ site.baseurl }}/feed.atom" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/x-icon" href="/favicon.png" />
  <link rel="apple-touch-icon" href="/favicon.png">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
