// Base styles
// ---------------------------------------/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: $background-color;
}

@media screen and (min-width: 540px) {
  html {
    font-size: 18px;
  }
}

body{
    width: 100%;
    min-height: 100%;
    font-family: $serif;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $background-color;
}

.wrapper {
    width: $max-width + 2em;
    padding: 0 1em;
		max-width: 100%;
		margin: 0 auto;
    list-style: none;
}

.wrapper--content {
  @include rem(margin-top, 9.5);
  @include rem(margin-bottom, 4);
}

.wrapper--nav {
  text-align: center;
}

.wrapper--nav li {
  display: inline-block;
}

a {
    text-decoration: underline;
    color: $dark-main-color;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
    @include rem(font-size, 1);
}

video {
  margin-top: 0;
  margin-bottom: 1em;
}

figure {
  margin-top: 0;
  margin-bottom: 1.3em;
}

small,
figcaption {
    display: block;
  font-style: italic;
  color: $dark-grey;
  text-align: center;
}

small.caption {
    margin-top: -1em;
}

small.footnote {
    text-align: inherit;
    margin-top: 2.5em;

    & a {
        color: inherit;
        text-decoration: none;
    }
}

// Override the embedded tweet styling
.twitter-tweet {
  margin: 0 auto !important;
  margin-bottom: 1em !important;
  margin-top: 0 !important;
}


/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 1em;
}

ul ul,
ol ol,
dl dl {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

li {
  margin-top: 0;
  margin-bottom: 0.5em;
}

dt {
    font-weight: bold;
}
dd {
    margin-bottom: .5em;
}

/* Misc */
hr {
    position: relative;
    margin: 1.5em 0;
    border: 0;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $background-color;
}

abbr {
    font-size: 85%;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted $light-grey;
}

/* Code */
code,
pre {
    font-family: $monospace;
}
code {
    padding: 0em .3em;
    padding-top: 0.15em;
    font-size: 0.8em;
    line-height: 0.8em;
    color: inherit;
    background-color: $very-light-grey;
    border-radius: 3px;
}
pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1.3em;
    padding: 1em;
    font-size: .8em;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: $very-light-grey;
    border-radius: 3px;
}
pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: none;
    font-size: 1em;
}
a > code {
    text-decoration: underline;
}

/* Gist via GitHub Pages */
.gist .gist-file {
    font-family: Menlo, Monaco, "Courier New", monospace !important;
}
.gist .markdown-body {
    padding: 15px;
}
.gist pre {
    padding: 0;
    background-color: transparent;
}
.gist .gist-file .gist-data {
    font-size: .8em !important;
    line-height: 1.4;
}
.gist code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
}

/* Quotes */
blockquote {
    padding: .5em 1em;
    margin: .8em 0;
    color: $dark-grey;
    border-left: .25em solid $light-grey;
}
blockquote p {
  font-size: 0.9em;
}
blockquote p:last-child {
    margin-bottom: 0;
}
/* Images */
img {
    max-width: 100%;
}
/* Source attribution after images */
img + a {
    font-size: 0.8em;
    margin-top: -0.8em;
    display: block;
    color: $light-grey;
}
@media (min-width: 30em) {
    blockquote {
        padding-right: 5em;
        padding-left: 1.25em;
    }
}
