// Box shadow shamelessly stolen from spec.fm
.card {
	box-shadow: 0 1px 1px rgba(50,59,67,0.1);
	background-color: white;
	transition: all 0.2s;
	border-radius: 1px;

	&:hover {
		box-shadow: 0 2px 4px rgba(50,59,67,0.1);
	}
}
