// Box shadow shamelessly stolen from spec.fm
.card {
	box-shadow: 0 1px 1px rgba(50,59,67,0.1);
	background-color: white;
	transition: all 0.2s;
	border-radius: 1px;
	padding: 1.5em 1em;
	margin: 2em 0;

	&:hover {
		box-shadow: 0 2px 4px rgba(50,59,67,0.1);
	}

	&__image {
		margin-left: -1em;
    margin-top: -1.5em;
    margin-bottom: 1em;
    max-width: calc(100% + 2em);
    border-radius: 1px 1px 0 0;
	}
}
