@font-face {
  font-family: 'icons';
  src: url('/icon-fonts/icomoon.eot'); /* IE9 Compat Modes */
  src: url('/icon-fonts/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/icon-fonts/icomoon.woff') format('woff'), /* Pretty Modern Browsers */
       url('/icon-fonts/icomoon.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/icon-fonts/icomoon.svg#icomoon') format('svg'); /* Legacy iOS */
}

// attribute selectors - should match instance settings

$hover-heading-attr: "[data-heading]";
$hover-link-attr:    "[data-heading-link]";

// hover link styles

#{$hover-link-attr} {
  opacity: 0;
  padding: 0 10px;
  text-decoration: none;
  color: inherit;
  position: absolute;
  transition: opacity 100ms ease-out 0ms, color 100ms ease-out;
  transform: translateX(-100%);
    -webkit-transform: translateX(-100%);

  &::after {
    font-family: icons;
    font-size: 0.6em;
    vertical-align: top;
    content: "\e600";
  }
}

// show link when heading is hovered

#{$hover-heading-attr}:hover #{$hover-link-attr} {
    display: inline;
    opacity: 0.5;
    transition: opacity 100ms ease-out 500ms, color 100ms ease-out;
}