// Home styles
// ---------------------------------------/

.title {
    text-align: center;
    font-family: Georgia, $serif;
    color: $text-color;
    font-weight: 400;
    @include rem(margin-bottom, 0.01);
}

.tagline {
    text-align: center;
    font-family: $sans-serif;
    @include rem(margin-top, 0.01);
}

.wrapper {
    width: $max-width;
		max-width: 100%;
		margin: 0 auto;
    @include rem(margin-top, 9.5);
    @include rem(margin-bottom, 4);
}

.post-home {
		display: flex;
    width: 100%;
    @include rem(padding-top, 0.25);
    @include rem(padding-bottom, 0.25);

    &__title {
        margin: 0;
        color: $text-color;
				@include rem(font-size, 1);
				@include rem(margin-left, 0.5);
    }

		&__date {
			@include rem(font-size, 1);
			color: $text-color;
			font-weight: 400;
			margin: 0;
		}
}
