// Mixins
// ---------------------------------------/

@function em( $fontSize, $contextSize: 16 ) {
  @return 1em * ( $fontSize / $contextSize ); }

@mixin rem($property, $value) {
    #{$property}: #{$value * 16}px;
    #{$property}: #{$value}rem;
}


@mixin fontless {
  html:not(.wf-active) & {
    font-family: $fallback-sans-serif;
    @content;
  }
}

@function pct( $size, $context ) {
  @return percentage( $size / $context ); }

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin sans_light {
  @include sans;
  font-weight: 300;
}

@mixin sans_regular {
  @include sans;
  font-weight: 400;
}

@mixin sans_semibold {
  @include sans;
  font-weight: 600;
}

@mixin sans_bold {
  @include sans;
  font-weight: 700;
}

@mixin sans_extrabold {
  @include sans;
  font-weight: 800;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: -webkit-+$transition-property $transition-time $method;
    -moz-transition: -moz-+$transition-property $transition-time $method;
    -ms-transition: -ms-+$transition-property $transition-time $method;
    -o-transition: -o-+$transition-property $transition-time $method;
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
