.post {
    @for $index from 1 through 6 {
        @for $index2 from 1 through 6 {
            h#{$index} + h#{$index2}{
                margin-top: 0;
            }
        }
    }

    hr {
        margin: 2em 0;
    }

    img {
        max-height: 90vh;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
        margin-bottom: 0.5em;
    }

    &__image {
        margin-bottom: 1em;
    }

    &__image:after {
        content: attr(data-subtitle);
        display: block;
        width: 100%;
        text-align: center;
        @include rem(font-size, 0.8);
        font-style: italic;
        color: $dark-grey;
    }

		&__header {
			margin-bottom: 1.3em;
		}

    &__date {
        color: $dark-grey;
        font-weight: 400;
        text-align: center;
        margin-top: 0.5em;
        font-size: 1em;

        @include sans;
    }

    &__title {
        margin: 0.3em 0;
        color: $text-color;
        padding: 0;
        text-align: center;

        @include sans {
            font-size: 35px;
            line-height: 46px;
            letter-spacing: -0.35px;
            word-spacing: -0.3px;
        }

        & + hr {
            margin: 0;
        }
    }

    &__categories {
        width: 100%;
        margin-top: -0.6em;
        min-height: 1em;
    }

    &__category {
        display: inline-block;
        @include rem(font-size, 1);
        margin: 0;
        color: $dark-grey;
        font-weight:400;
        margin-right: 0.4em;

        &:last-child {
            margin-right: 0;
        }
    }

    &__example {
        padding: 1em 0em;
        border: 1px solid $very-light-grey;
        border-radius: 3px;
        margin: 1em 0;
        padding-top: 0;

        &-bar {
            height: 1em;
            width: 100%;
            border-radius: 3px 3px 0 0;
            background-color: $very-light-grey;
            margin-bottom: 1em;
            position: relative;
        }

        &-controls {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #FDBD41;
            position: absolute;
            top: 5px;
            left: 20px;

            &:before {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: #FC605B;
                position: absolute;
                top: 0;
                left: -15px;
            }

            &:after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: #33C748;
                position: absolute;
                top: 0;
                left: 15px;
            }
        }

        &-content {
            width: 100%;
            padding: 0 1em;
            margin: 0;
        }
    }

    &__related {
				clear: both;
				width: 100%;

				&:after {
					content: "";
	  			display: table;
	  			clear: both;
				}

        &-previous {
            float: left;
            text-align: left;
						max-width: 50%;
						position: relative;
						margin-left: 1.25em;

            &:before {
              content: "← ";
							margin-right: 0.25em;
							position: absolute;
							left: -1.25em;
							top: 50%;
    					transform: translateY(-50%);
            }
        }

        &-next {
            float: right;
            text-align: right;
						max-width: 50%;
						position: relative;
						margin-right: 1.25em;

						&:after {
              content: " →";
							margin-left: 0.25em;
							position: absolute;
							right: -1.25em;
							top: 50%;
    					transform: translateY(-50%);
            }
        }
    }

    p {
        word-wrap: break-word;
        hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
    }
}

.share-on-twitter {
    position: fixed;
    right: 0;
    bottom: 0;
    transform: translateY(0) translateX(calc((100vw - #{$max-width + 2em} - 200%) / -4));
    opacity: 1;
    padding: 0.5em 1em;
    background-color: white;
    border-radius: 3px 3px 0 0;
    border: 1px solid $very-light-grey;
    border-bottom: none;
    color: $dark-grey;
    transition: border-color 50ms ease-out, color 50ms ease-out, transform 250ms ease-in-out;
}

.share-on-twitter:hover {
    color: $text-color;
    border-color: $light-grey;
}

.share-on-twitter.hidden {
    transform: translateY(2.5em) translateX(calc((100vw - #{$max-width + 2em} - 200%) / -4));
}

@media screen and (max-width: 950px) {
    .share-on-twitter {
        display: none;
    }
}

.footnotes {
  font-size: 0.8em;
  color: $dark-grey;

  &:before {
    content: '';
    position: relative;
    margin: 1.5em 0;
    border: 0;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $background-color;
    display: block;
  }
}
