.post {
    @for $index from 1 through 6 {
        @for $index2 from 1 through 6 {
            h#{$index} + h#{$index2}{
                margin-top: 0;
            }
        }
    }

    display: block;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    @include rem(margin-top, 9.5);
    @include rem(margin-bottom, 5);
    padding: 0 1em;

    a {
        color: $main-color;
        &:hover,
        &:visited {
            color: darken($main-color, 25);
        }
    }

    hr {
        margin: 2em 0;
    }

    h1, h2, h3, h4 {
        margin-bottom: 0.5em;
    }

    img {
        max-height: 90vh;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
        margin-bottom: 0.5em;
    }

    &__image {
        margin-bottom: 1em;
    }

    &__image:after {
        content: attr(data-subtitle);
        display: block;
        width: 100%;
        text-align: center;
        @include rem(font-size, 0.8);
        font-style: italic;
        color: $dark-grey;
    }

    &__date {
        color: $dark-grey;
        font-family: $sans-serif;
        font-weight: 400;
        text-align: center;
        margin-top: 0.5em;
        font-size: 1em;
    }

    & .post__date {
        // Overriding the .post h1 margin-bottom, see line 90
        margin-bottom: 1.75em;
    }

    &__title {
        margin: 0;
        display: block;
        color: $text-color;
        padding: 0;
        font-family: $sans-serif;
        text-align: center;

        & + hr {
            margin: 0;
        }
    }

    & .post__title {
        // Overriding the .post h1 margin-bottom, see line 90
        margin-bottom: 0.2em;
    }

    &__categories {
        width: 100%;
        margin-top: -0.6em;
        min-height: 1em;
    }

    &__category {
        display: inline-block;
        @include rem(font-size, 1);
        margin: 0;
        color: $dark-grey;
        font-weight:400;
        margin-right: 0.4em;

        &:last-child {
            margin-right: 0;
        }
    }

    &__example {
        padding: 1em 0em;
        border: 1px solid $very-light-grey;
        border-radius: 3px;
        margin: 1em 0;
        padding-top: 0;

        &-bar {
            height: 1em;
            width: 100%;
            border-radius: 3px 3px 0 0;
            background-color: $very-light-grey;
            margin-bottom: 1em;
            position: relative;
        }

        &-controls {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #FDBD41;
            position: absolute;
            top: 5px;
            left: 20px;

            &:before {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: #FC605B;
                position: absolute;
                top: 0;
                left: -15px;
            }

            &:after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: #33C748;
                position: absolute;
                top: 0;
                left: 15px;
            }
        }

        &-content {
            width: 100%;
            padding: 0 1em;
            margin: 0;
        }
    }

    &__related {
				clear: both;
				width: 100%;

				&:after {
					content: "";
	  			display: table;
	  			clear: both;
				}

        &-previous {
            float: left;
            text-align: left;
						max-width: 50%;
						position: relative;
						margin-left: 1.25em;

            &:before {
              content: "← ";
							margin-right: 0.25em;
							position: absolute;
							left: -1.25em;
							top: 50%;
    					transform: translateY(-50%);
            }
        }

        &-next {
            float: right;
            text-align: right;
						max-width: 50%;
						position: relative;
						margin-right: 1.25em;

						&:after {
              content: " →";
							margin-left: 0.25em;
							position: absolute;
							right: -1.25em;
							top: 50%;
    					transform: translateY(-50%);
            }
        }
    }

    p {
        word-wrap: break-word;
        hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
    }
}
