body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-variant-ligatures: common-ligatures;
}

p {
    line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-weight: 700;

  @include sans;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

blockquote {
    @include rem(font-size, 1);
    /* 20px / 16px */
    line-height: 1.25em;
    /* 25px / 20px */
}
