body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-variant-ligatures: common-ligatures;
}

p {
    line-height: 1.5em;
}

h1 {
    font-family: $sans-serif;
    @include rem(font-size, 2);
    /* 2x body copy size = 32px */
    line-height: 1.25em;
    /* 45px / 36px */
}

h2 {
    font-family: $sans-serif;
    @include rem(font-size, 1.625);
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615em;
    /* 30px / 26px */
}

h3 {
    font-family: $sans-serif;
    @include rem(font-size, 1.375);
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364em;
    /* 25px / 22px */
}

h4 {
    font-family: $sans-serif;
    @include rem(font-size, 1.125);
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111em;
}

blockquote {
    @include rem(font-size, 1);
    /* 20px / 16px */
    line-height: 1.25em;
    /* 25px / 20px */
}
