<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body itemscope itemtype="https://schema.org/Blog" class="js-has-scrolled">
	<script>
		/* Progressive enhancement */
		document.body.classList.remove('js-has-scrolled')
	</script>
	<nav class="nav" role="navigation">
		<ul class="wrapper wrapper--nav">
			<li class="nav__item nav__item--left"><a href="/newsletter">Newsletter</a></li>
			<li class="nav__item nav__item--right"><a href="http://mxstbr.com">Portfolio</a></li>
			<li>
				<a href="/">
					<h1 class="nav__logo">
						<div class="fadein move move-lt" aria-hidden="true">&lt;</div><div class="move move-m">m</div><div class="fadeout fadeout-a">a</div><div class="move move-x">x</div><div class="fadeout fadeout-space"> </div><div class="move move-s">s</div><div class="move move-t">t</div><div class="fadeout fadeout-o">o</div><div class="fadeout fadeout-i">i</div><div class="move move-b">b</div><div class="fadeout fadeout-e">e</div><div class="move move-r">r</div><div class="fadein move move-slash" aria-hidden="true">/</div><div class="fadein move move-gt" aria-hidden="true">&gt;</div>
					</h1>
					<h2 class="nav__subtitle">Open Source Developer</h2>
				</a>
			</li>
		</ul>
	</nav>
	{{ content }}
	{% include footer.html %}
	<div class="nav__notice">⚠️ mxstbr.blog is deprecated! Go to <a href="https://mxstbr.com/thoughts/">mxstbr.com/thoughts</a> for new posts ⚠️</div>
</body>

</html>