---
layout: default
---


<section class="wrapper">
    <h2 style="display: none;">Posts</h2>
    {% for post in paginator.posts %}
			<a class="post-home__link" href="{{ site.baseurl }}{{ post.url }}">
        <article class="post-home">
						<h3 class="post-home__date" itemprop="datePublished">{{ post.date | date: "%m.%Y" }}</h3>
            <h2 class="post-home__title" itemprop="headline">{{ post.title | xml_escape }}</h2>
            <!-- {% for tag in post.tags %}
              <h3 class="post-home__category">#{{ tag | downcase }}</h3>
            {% endfor %} -->
        </article>
			</a>
    {% endfor %}
</section>
