---
layout: default
---

<article class="post" role="article" itemprop="blogPost">
	<header>
		<h1 class="post__title" itemprop="headline">{{ page.title | xml_escape }}</h1>
		<hr />
		<h2 class="post__date" itemprop="datePublished">{{ page.date | date_to_long_string }}</h2>
	</header>

	{{ content }}

	{% include newsletter-form.html %}

	<hr />

	<div class="post__related">
		{% if page.previous %}
			<a href="{{ page.previous.url }}" class="post__related-previous" onclick="OWATracker.trackAction('post', 'click', 'previous');" title="{{ page.previous.title }}">Previous Article</a>
		{% endif %}
		{% if page.next %}
			<a href="{{ page.next.url }}" class="post__related-next" onclick="OWATracker.trackAction('post', 'click', 'next');" title="{{ page.next.title }}">Next Article</a>
		{% endif %}
	</div>

</article>

<!-- {% for post in site.related_posts %}
	<div class="wrapper">
	    <div class="post-home">
	        <a class="post-home__link" href="{{ site.baseurl }}{{ post.url }}">
	            <h2 class="post-home__title" >{{ post.title }}</h2>
	        </a>
	        <div class="post-home__title-bg"></div>
	        <div class="post-home__categories">
	            <h4 class="post-home__category">{{ post.date | date_to_string }}</h4>
	            {% for category in post.categories %}
	                    <h3 class="post-home__category">#{{ category }}</h3>
	            {% endfor %}
	        </div>
	    </div>
	</div>
{% endfor %} -->
